@model Sorveteria.Model.SOR_T_USUARIO

@{
    ViewBag.Title = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <form method="POST" action="@Url.Action("Index")">
        <div class="jumbotron">
            <div class="container">
                <span class="glyphicon glyphicon-glass"></span>
                <h2>Sorveteria</h2>
                <div class="box">
                    <input name="user.email" required="" type="email" placeholder="Email">
                    <input name="User.Senha" required="" type="password" placeholder="senha">
                    <button class="btn btn-primary full-width"><span class="glyphicon glyphicon-ok"></span></button>

                    @if (ViewData.ModelState["senha"]?.Errors != null)
                    {
                        <div class="alert alert-danger">
                            <strong>@(ViewData.ModelState["senha"].Errors[0].ErrorMessage)</strong> 
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
